<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net47" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="OpenCvSharp3-AnyCPU" version="3.3.1.20171117" targetFramework="net47" />
</packages>